@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;}
header{
    position: relative;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/background_image.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* #-------------------------------------navbar--------------------------------------------# */
nav{
    position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  /* background: #1b1b1b; */
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  /* background-color: rgba(16, 16, 16, 0.8); */
}
nav .logo:hover{
    transform: scale(1.2);
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 2.5rem;
}
nav ul li{
  margin: 0 5px;
  gap: 1rem;
}
nav ul li a{
    /* border: 2px solid red; */
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  background-color: rgba(255, 255, 255,0.2);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
/* #----------------------------------------------------------------------------------# */




/* -----------------------------------header content--------------------------------------- */
.row{
  height: 470px;
  /* border: 2px solid red; */
  margin-top: 15rem;
}

.row .image-box{
  /* border: 3px solid blue; */
  float: right;
  width:45%;
  height: 100%;
}
.row .image-box img{
  display:inline-block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.row .text-box{
  /* border: 3px solid green; */
  float: left;
  width: 55%;
  height: 100%;
}
.row .text-box .title{
  /* border: 2px solid coral; */
  color: white;
  padding: 2rem;
  font-size: 3rem;
}
.row .text-box .text{
  /* border: 2px solid pink; */
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.row .text-box .social{
  /* border: 4px solid purple; */
  padding: 2rem;
  margin-top:25%;
 
}
.row .text-box .social i{
  margin-right: 2rem;
}
/* ---------------------------------------------------------------------------------- */







@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    right: -105%;
    /* background: rgb(20, 20, 20); */
    /* height: 100vh; */
    width: 12%;
    /* text-align: center; */
    display: block;
    transition: all 0.3s ease;
    ;
  }
  #click:checked ~ ul{
    right: 0;
  }
  nav ul li{
    width: 100%;
    margin: 20px 0;
    
  }
  nav ul li a{
    width: 100%;
    margin-right: -100%;
    display: block;
    font-size: 1.8rem;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-right: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background-color: rgba(255, 255, 255,0.2)
  }
  .row .image-box{
    /* border: 3px solid blue; */
    float: right;
    width:45%;
    height: 90%;
  }
  .row .image-box img{
    display:inline-block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }


}
@media (max-width:652px){

  .row .image-box{
    /* border: 3px solid blue; */
    float: right;
    width:45%;
    height: 60%;
    margin-top: 13rem;
    
  }
  .row .image-box img{
    display:inline-block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
}
@media (max-width:445px){
  .row .text-box{
    /* border: 3px solid green; */
    float: left;
    width: 100%;
    height: 100%;
    /* padding: 2rem; */
  }
  .row .text-box .title{
    /* border: 2px solid coral; */
    color: white;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .row .image-box{
    /* border: 3px solid blue; */
    display: none;
    float: right;
    width:45%;
    height: 60%;
    margin-top: 13rem;
    
  }
  .row .image-box img{
    /* display:inline-block; */
    display: none;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .row .text-box .social{
    /* border: 4px solid purple; */
    padding: 2rem;
    margin-top:35%;
   
  }
}


/* -----------------------utility class------------------ */
.container{
  max-width: 1200px;
  width: 90%;
  margin:0 auto;
}